*{
    padding: 0%;
    margin: 0%;
    font-family: "Lucida Console", "Courier New", monospace;   
    scroll-behavior: smooth; 
}
body{
    margin: 0%;
    padding: 0%;
}
.outerNavbar{
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #397686;
}
.navbar{
    display: block;
}
.navbar>a{
     float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar>a:hover{
    background-color: #000 ;
    color: #397686;
}
.landingMsg{
    letter-spacing: -1px;
    font-size: 1.5em;
}
.blink{
    animation: blink 1s infinite;
}
@keyframes blink {
    50% {
        opacity: 0;
    }
}
.landingImgDiv>img{
    border-radius: 50%;
    height: 150px;    
}
.scDownGif{
    margin-top: 10vh;
    height: 100px;
}

footer{
    padding: 1%;
    background-image: linear-gradient(#CFD8DC,#fff);
    border-top:1px solid #000;
    
}
footer>div{
    display: flex;
    justify-content: center;
}
.socialLinks>div>a>img{
    height: 35px;
}
.socialLinks>div{
    display: inline-flex;
    margin: 2% 2%;
}
Hr{
    background-color: black;
    height: 1px;
    border: none;
    width: 50%; 
    margin: auto;
}
.cpyRights{
    margin-top: 1%;
}
u{
    color: #3A7686;
}